sudo: required
services:
  - docker

before_install:
  - docker build -t docker-angular -f Dockerfile.dev .

script:
  - docker run docker-angular npm run test-headless

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-angular"
  env: "Dockerangular-env"
  bucket_name: "elasticbeanstalk-us-east-2-063792364848"
  bucket_path: "docker-angular"
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
